.main {
    margin: auto;
    width: 460px;
    margin-top: 100px;
    text-align: center;
}

/*
 * Splash page UI
 */
.startOptions {
    text-align:left;
    display: flex;
    flex-wrap: wrap;
}

.startOptions h3 {
    width: 100%;
    margin-bottom: 7px;
}
.startOptions div{
    color: #6b6b6b;
    border-radius: 3px;
    border: 1px solid #cfcfcf;
    padding: 6px;
    /*width: 150px;*/
    margin: 3px;
}
.startOptions div:hover {
    background-color: #f9f9f9;
}

/*
 * Quiz UI
 */
.quiz {
    margin: auto;
}

.flashcard {
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    background-color: #f6f6f6;
    width: 400px;
    font-size: 40px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

.info {
    /* preserve newlines in info */
    text-align: left;
    white-space: pre-line;
    color: #6b6b6b;
    padding: 10px 70px 0px 70px;
}

.options {
    display: flex;
    justify-content: space-evenly;
    padding-left: 40px;
    padding-right: 40px;
}

.option {
    padding: 3px;
    border-radius: 3px;
}
.option:hover {
    background-color: #f6f6f6;
}

.optionDetail {
    width: 105px;
}
.optionDetail span, .optionReturn span {
    color: #4286f4;
}
.optionCorrect span {
    color: #4cba4c;
}
.optionIncorrect span {
    color: #ba554c;
}

/*
 * End of quiz scoring screen
 */
.doneTopBar {
    display: flex;
    flex-direction: row-reverse;
}

.score {
    font-style: italic;
}

.results {
    /*display: flex;*/
    text-align: left;
    width: 460px;
    margin-top: 10px;
}
.resultRow {
    display: flex;
    padding: 2px;
}
.resultRow:hover {
    background-color: #f9f9f9;
}

.resultSymbol {
    width: 50px;
}
.resultCell {
    width: 175px;
}
/* should really just be a table maybe, lol */
.resultChinese {
    width: 100px;
}
